<div class="single-chart">
  <div class="controls">
    <button class="btn" {{action 'makePie'}}>Pie</button>
    <button class="btn" {{action 'makeBar'}}>Bar</button>
  </div>

  {{default-chart regionTheme=regionTheme chartType=chartType}}
</div>
