<div class="charts">
  {{default-chart regionTheme=regionTheme chartType=chartType}}
</div>
<div class="controls">
  <div class="chart-buttons">
    <div class="pie" {{action 'makePie'}}>
      pie button
    </div>
    <div class="bar" {{action 'makeBar'}}>
      bar button
    </div>
  </div>
</div>

<div class="widgets">
  <section class="widget">
    <header>
      <h3>More</h3>
    </header>
    <div class="tags">
      {{#each additionalTopics as |topic|}}
        <span>{{topic.title}}</span>
      {{/each}}
    </div>
  </section>
</div>
