<div class="controls">
  <button class="btn" {{action 'makePie'}}>pie</button>
  <button class="btn" {{action 'makeBar'}}>bar</button>
</div>

{{default-chart regionTheme=regionTheme chartType=chartType}}
