<div class="charts">
  {{default-chart regionTheme=regionTheme chartType=chartType}}
</div>
<div class="controls">
  <div class="chart-buttons">
    <div class="pie" {{action 'makePie'}}>
      pie button
    </div>
    <div class="bar" {{action 'makeBar'}}>
      bar button
    </div>
  </div>
</div>
