<div class="single-chart">
  <div class="controls">
    <button class="btn" {{action 'makePie'}}><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
    <button class="btn" {{action 'makeBar'}}><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
  </div>

  {{default-chart regionTheme=regionTheme chartType=chartType additional=additional hideTitle=true}}
</div>
