<div class="filter">
  {{fact-selector
    selectedTopicIds=selectedTopicIds
    selectedRegionIds=selectedRegionIds
    updateSelected=updateSelectedTopics}}
</div>

<div class="results">
  {{#liquid-bind regionThemes as |regionThemesVersion|}}
    {{#each regionThemes key="id" as |regionTheme index|}}
      {{#link-to 'drill' regionTheme.id value-id=regionTheme.id classNames="valuation"}}
        {{chart-single-value regionTheme=regionTheme value=regionTheme.values.firstObject idx=index}}
      {{/link-to}}
    {{/each}}
  {{/liquid-bind}}
</div>
