<p class="container">Hier komt informatie met de feitelijke gegevens over de stad.  Deze staat buiten de div zodat we de gehele schermbreedte nog kunnen gebruiken indien nodig.</p>
<div class="row">

  <div class="col s3 selections">
    {{fact-selector
      selectedIds=selectedTopicIds
      updateSelected=updateSelectedTopics}}
  </div>

  <div class="col s9 values">
    {{#liquid-bind values as |valuesVersion|}}
      {{#each valuesVersion key="id" as |valuation|}}
        <div class="valuation" value-id={{valuation.id}}>
          <div class="value">{{valuation.value}}</div>
          <ul class="topics">
            {{#each valuation.topics as |topic|}}
              {{topic.title}}
            {{/each}}
          </ul>
        </div>
      {{/each}}
    {{/liquid-bind}}
  </div>

</div>
