<p class="container">Hier komt informatie met de feitelijke gegevens over de stad.  Deze staat buiten de div zodat we de gehele schermbreedte nog kunnen gebruiken indien nodig.</p>
<div class="row">

  <div class="col s3 selections">
    left
  </div>

  <div class="col s9 facts">
    {{#liquid-bind facts as |factsVersion|}}
      {{#each factsVersion as |fact|}}
        <div class="fact" {{action "clickFact" fact}}>
          facts here!
        </div>
      {{/each}}
    {{/liquid-bind}}
  </div>

</div>
