<div class="container">
  <h1>Feitelijk leuven</h1>

  <h2>Nieuws</h2>

  {{news-section}}

  <h2>Je weg rond de stad</h2>

</div>

<p class="container">Hier komt informatie met de feitelijke gegevens over de stad.  Deze staat buiten de div zodat we de gehele schermbreedte nog kunnen gebruiken indien nodig.</p>

{{outlet}}
