<div class="container">
  <h1>Feitelijk leuven</h1>

  <h2>Nieuws</h2>

  {{news-section}}

  <h2>Je weg rond de stad</h2>

</div>

{{fact-browser updateSelectedTopics=(action "updateSelected") selectedTopicIds=topics}}

{{outlet}}
