<main class="app">
  <aside class="app-aside">
    <header class="app-header">
      <h1><a href="/"><img src="../assets/img/logo.jpg" alt="logo"></a></h1>
    </header>

    <section class="news">
      <h2>Nieuws</h2>
      <div class="news-section">
        {{news-section}}
      </div>
    </section>
  </aside>

  <section class="app-main">
    <header class="header">
      <h2>Je weg rond de stad</h2>
      <p>Hier komt informatie met de feitelijke gegevens over de stad.  Deze staat buiten de div zodat we de gehele schermbreedte nog kunnen gebruiken indien nodig.</p>
    </header>
    <div class="content">
      {{fact-browser updateSelectedTopics=(action "updateSelected") selectedTopicIds=topics selectedRegionIds=regions regionThemes=model}}
    </div>
    <div class="outlet">
      {{outlet}}
    </div>
  </section>
</main>
